<body>
    <div>
        <h1>Email Verification</h1>
        <p>We noticed you are having issues verifying your email address so we we sent the link again</p>
        <a href="<%= verificationLink %>">Verify Email</a>
        <p>If you did not sign up for an account, please ignore this email.</p>
    </div>
</body>